*.o
*.a
Ted/Ted
Ted/Ted.static
config.log
config.cache
config.status
confdefs.h
lib/

Ted/makefile
Ted/tedConfig.h
appFrame/appFrameConfig.h
appFrame/makefile
appUtil/appUtilConfig.h
appUtil/makefile
bitmap/bitmapConfig.h
bitmap/makefile
docBase/docBaseConfig.h
docBase/makefile
docBuf/docBufConfig.h
docBuf/makefile
docEdit/docEditConfig.h
docEdit/makefile
docFont/docFontConfig.h
docFont/makefile
docHtml/docHtmlConfig.h
docHtml/makefile
docLayout/docLayoutConfig.h
docLayout/makefile
docRtf/docRtfConfig.h
docRtf/makefile
drawMeta/drawMetaConfig.h
drawMeta/makefile
guiBase/guiBaseConfig.h
guiBase/makefile
ind/indConfig.h
ind/makefile
tedTools/makefile
tedTools/tedToolsConfig.h
textEncoding/makefile
textEncoding/textEncodingConfig.h
utilPs/makefile
utilPs/utilPsConfig.h
appFrame/appResourceHeader
appTools/appToolsConfig.h
appTools/makefile
tedResource/makefile
tedResource/tedResourceConfig.h
